.forupperspace{
    width: 100%;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.continueShoppingBtn{
    margin-top: 40px; width:20%; margin-left:40%;margin-bottom:50px
}
.thankscont{
    width: 60%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.insidethankscont{
  
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

@media only screen and (min-width:321px) and (max-width:867px){
    .thankscont{
        width: 80%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .insidethankscont{
      
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    .continueShoppingBtn{
        margin-top: 40px;
         width:30%;
          margin-left:35%;
          /* margin: auto; */
          margin-bottom:50px;
          /* align-items: center;
           */
           text-align: center;
        font-size: 10px;
    }
   
  }
  
  @media only screen and (min-width:0px) and (max-width:320px){
    .thankscont{
        width: 90%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .insidethankscont{
      
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    .continueShoppingBtn{
        margin-top: 40px;
         width:60%;
          margin-left:20%;
          /* margin: auto; */
          margin-bottom:50px;
          /* align-items: center; */
          text-align: center;
        font-size: 10px;
    }
}